<section id="js-catalog-mod">
    <div class="catBox">
        <div class="catBox">
            <div class="region region-990">
                <div class="bd">
                    <div class="cats">
                        <div class="cat-hd"> 推荐分类</div>
                        <!-- TODO angular: 推荐分类-->
                        <div tm-elemtary-repeat tm-item-name="catalog_item_repeat"
                             tm-item-view="catalog_item_repeat"></div>
                        <!-- angular: 推荐分类 End -->

                    </div>
                    <div class="lunbo">
                        <div data-widget-type="Tabs"
                             data-widget-config="{'circular':true,'duration':0.5,'activeTriggerCls':'ks-active','effect':'scrollx','interval':3,'navCls':'nav','contentCls':'content'}"
                             class="J_TWidget">
                            <ul class="content" style="width:999999px;">
                                <li class="-_-switchable-panel-internal495" style="display:block;float:left;"><a
                                        target="_blank" href="//cgzl.tmall.com/p/beach.htm?scene=taobao_shop"
                                        data-spm-wangpu-module-id="5003-9880563001"
                                        data-spm-anchor-id="a1z10.1-b.w5003-9880563001.26"><img width="790" height="420"
                                                                                                src="//assets.alicdn.com/s.gif"
                                                                                                data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/2067413496/TB2pOdqdVXXXXa7XpXXXXXXXXXX_!!2067413496.jpg"/></a>
                                </li>
                                <li class="-_-switchable-panel-internal495" style="display:block;float:left;"><a
                                        class="four_in_one time-count-four-in-one"
                                        style="margin:0 5px;width:540px;height:420px;background:url(//gdp.alicdn.com/imgextra/i4/2067413496/TB2BDxmbFXXXXXSXpXXXXXXXXXX_!!2067413496.jpg);"
                                        href="//cgzl.tmall.com/category-905437805.htm?spm=a1z10.1-b.w5003-9880563001.20.fTIQio&scene=taobao_shop"
                                        target="_blank" data-spm-wangpu-module-id="5003-9880563001"
                                        data-spm-anchor-id="a1z10.1-b.w5003-9880563001.20">
                                    <div class="mask">&nbsp;</div>
                                </a> <a class="four_in_one" style="width:240px;height:140px;"
                                        href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-9880563001.27.fTIQio&id=38602410112&rn=668e6e9f15ae0dadb20c63ca51f6c640&abbucket=10&scene=taobao_shop"
                                        target="_blank" data-spm-wangpu-module-id="5003-9880563001"
                                        data-spm-anchor-id="a1z10.1-b.w5003-9880563001.27"> <img
                                        src="//assets.alicdn.com/s.gif"
                                        data-ks-lazyload="//gdp.alicdn.com/imgextra/i2/2067413496/TB2bghtbFXXXXX0XXXXXXXXXXXX_!!2067413496.jpg"
                                        width="240" height="140"/>

                                    <div class="mask">&nbsp;</div>
                                </a> <a class="four_in_one" style="width:240px;height:140px;"
                                        href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-9880563001.28.fTIQio&id=39428228000&rn=668e6e9f15ae0dadb20c63ca51f6c640&abbucket=10&scene=taobao_shop"
                                        target="_blank" data-spm-wangpu-module-id="5003-9880563001"
                                        data-spm-anchor-id="a1z10.1-b.w5003-9880563001.28"> <img
                                        src="//assets.alicdn.com/s.gif"
                                        data-ks-lazyload="//gdp.alicdn.com/imgextra/i3/2067413496/TB28uRkbFXXXXb0XpXXXXXXXXXX_!!2067413496.jpg"
                                        width="240" height="140"/>

                                    <div class="mask">&nbsp;</div>
                                </a> <a class="four_in_one" style="width:240px;height:140px;"
                                        href="//detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-9880563001.29.fTIQio&id=38585443847&rn=668e6e9f15ae0dadb20c63ca51f6c640&abbucket=10&scene=taobao_shop"
                                        target="_blank" data-spm-wangpu-module-id="5003-9880563001"
                                        data-spm-anchor-id="a1z10.1-b.w5003-9880563001.29"> <img
                                        src="//assets.alicdn.com/s.gif"
                                        data-ks-lazyload="//gdp.alicdn.com/imgextra/i4/2067413496/TB2FqxubFXXXXXpXXXXXXXXXXXX_!!2067413496.jpg"
                                        width="240" height="140"/>

                                    <div class="mask">&nbsp;</div>
                                </a></li>
                                <li class="-_-switchable-panel-internal495" style="display:block;float:left;"><a
                                        target="_blank"
                                        href="//huangshanghuang.tmall.com/p/rd076020.htm?spm=a220o.1000855.w5001-9207101968.5.f0Q0oI&scene=taobao_shop"><img
                                        width="790" height="420" src="//assets.alicdn.com/s.gif"
                                        data-ks-lazyload="//gdp.alicdn.com/imgextra/i1/2067413496/TB20THMeFXXXXcBXXXXXXXXXXXX_!!2067413496.jpg"/></a>
                                </li>
                            </ul>
                            <div class="nav nav-label" style="left:145px;"><span
                                    class="-_-switchable-trigger-internal494 ks-active">省内沙滩</span><span
                                    class="-_-switchable-trigger-internal494">全球签证</span> <span
                                    class="-_-switchable-trigger-internal494">月饼优惠券</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>