<section id="js-catalog-mod">
    <div class="catBox">
        <div class="catBox">
            <div class="region region-990">
                <div class="bd">
                    <div class="cats">
                        <div class="cat-hd"> 推荐分类</div>


                        <!-- TODO angular: 推荐分类-->
                        <div tm-elemtary-repeat tm-item-name="catalog_item_repeat"
                             tm-item-view="catalog_item_repeat"></div>
                        <!-- angular: 推荐分类 End -->

                    </div>
                    <div class="lunbo">
                        <div data-widget-type="Tabs"
                             data-widget-config="{'circular':true,'duration':0.5,'activeTriggerCls':'ks-active','effect':'scrollx','interval':3,'navCls':'nav','contentCls':'content'}"
                             class="J_TWidget">

                            <!-- TODO angular: 焦点图-->
                            <ul tm-elemtary-repeat tm-item-name="catalog_banner_repeat" tm-item-view="catalog_banner_repeat" class="content" style="width:999999px;"></ul>
                            <!-- angular: 焦点图 End -->


                            <!-- TODO angular: 焦点图导航-->
                            <div class="nav nav-label" style="left:145px;" tm-elemtary-repeat tm-item-name="catalog_banner_repeat" tm-item-view="catalog_banner_nav" class="content"></div>
                            <!-- angular: 焦点图导航 End -->


                            <!--<div class="nav nav-label" style="left:145px;"><span
                                    class="-_-switchable-trigger-internal494 ks-active">省内沙滩</span><span
                                    class="-_-switchable-trigger-internal494">全球签证</span> <span
                                    class="-_-switchable-trigger-internal494">月饼优惠券</span></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>