<section id="js-banner-mod">
    <div class="J_TWidget"
         data-widget-config="{'effect':'fade','circular': true,'contentCls':'taobaoux'}"
         data-widget-type="Tabs" style="height:460px;overflow:hidden;">
        <div class="taobaoux" style="height:420px;">
            <div class="footer-more-trigger"
                 style="width:1920px;height:420px;top:auto;padding:0px;border:none;left:50%;">
                <div class="footer-more-trigger sheepTest" style="width:1920px;height:420px;padding:0px;border:none;">
                    <div data-widget-config="{'contentCls':'taobaoux-com','navCls':'bbs-taobaoux-com','effect':'scrollx','easing':'easeOutStrong','prevBtnCls':'prev','nextBtnCls':'next','autoplay': true,'viewSize':[1920],'circular': true}"
                         data-widget-type="Carousel" class="J_TWidget">
                        <div class="J_TWidget prev"
                             data-widget-config="{'trigger':'.ux1920','align':{'node':'.ux1920','offset':[-500,0],'points':['cc','cc']}}"
                             data-widget-type="Popup" style="display:none;">
                            <div style="width:66px;height:66px;cursor:pointer;color:#F00;background-image:url(//gdp.alicdn.com/imgextra/i1/2067413496/TB2AqQNdFXXXXbaXpXXXXXXXXXX_!!2067413496.png);">
                                &nbsp;
                            </div>
                        </div>
                        <div class="J_TWidget next"
                             data-widget-config="{'trigger':'.ux1920','align':{'node':'.ux1920','offset':[500,0],'points':['cc','cc']}}"
                             data-widget-type="Popup" style="display:none;">
                            <div style="width:66px;height:66px;cursor:pointer;color:#F00;background-image:url(//gdp.alicdn.com/imgextra/i3/2067413496/TB2DPcWdFXXXXcPXXXXXXXXXXXX_!!2067413496.png);">
                                &nbsp;
                            </div>
                        </div>
                        <div style="height:420px;width:1920px;overflow:hidden;padding:0px;margin:0px;" class="ux1920">
                            <!-- TODO angular:焦点图 -->
                            <ul class="taobaoux-com" style="height:420px;width:1920px;padding:0px;margin:0px;"
                                tm-elemtary-repeat tm-item-name="banner_pic_repeat"
                                tm-item-view="banner_pic_repeat"></ul>
                            <!-- angular:焦点图 End -->
                        </div>
                        <div class="footer-more-trigger" style="padding:0px;border:none;left:50%;">
                            <div class="footer-more-trigger"
                                 style="width:1920px;height:50px;padding:0px;border:none;left:-960px;background:url(about:blank) repeat;top:505px;">
                                <!-- TODO angular:小焦点图导航 -->
                                <ul tm-elemtary-repeat tm-item-name="banner_pic_repeat" tm-item-view="banner_pic_nav"
                                    class="bbs-taobaoux-com"
                                    style="width:950px;height:50px;margin:0 auto;text-align:center;">
                                </ul>
                                <!-- angular:焦点图 End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="ks-switchable-nav" style="display:none;">
        </ul>
    </div>
</section>