<section id="js-banner-mod">
    <div class="callcenter">
        <div class="head_title">客服中心营业时间</div>
        <p class="head_time">9:00-23:00（节假日不休）</p><a class="gzl_bookmart"
                                                     href="//favorite.taobao.com/popup/add_collection_2.htm?id=110278490&amp;itemtype=0&amp;is_tmall=&amp;scene=taobao_shop"
                                                     target="_blank"
                                                     style="background:url(//gdp.alicdn.com/imgextra/i1/2067413496/TB2M2SqbpXXXXaSXpXXXXXXXXXX_!!2067413496.png) no-repeat;"></a>


            <div class="service">

                <!-- TODO angular: 左边第一项-->
                <div tm-elemtary-repeat tm-item-name="travel_repeat"
                    tm-item-view="travel_repeat"></div>
                <!-- angular: 左边第一项 End -->

                <!-- TODO angular: 左边第二项-->
                <div tm-elemtary-repeat tm-item-name="ticket_repeat"
                     tm-item-view="ticket_repeat"></div>
                <!-- angular: 左边第二项 End -->

                <p class="tipsText">请认准亮灯客服为您服务。</p></div>

    </div>
</section>