<section id="js-brand-mod" style="height: 120px;">
    <div class="headerStyle">
        <div class="header">
            <a class="logo" href="//cgzl.alitrip.com/?scene=taobao_shop/"></a>
            <div class="sform">
                <form class="focus" name="SearchForm" action="//cgzl.alitrip.com/?scene=taobao_shop" method="post">
                    <input name="search" type="hidden" value="y" />
                    <div class="keyword">
                        <input class="keyword-input prompt" name="keyword" size="12" />
                    </div>
                    <span class="submit"><input class="btn" type="submit" value="" /></span>
                </form>
                <div class="keywords">
                    <div class="keywords_sform">
                        <!-- TODO angular:店招 -->
                        <div tm-elemtary-repeat tm-item-name="hot_search_repeat" tm-item-view="hot_search_repeat"></div>
                        <!-- angular:店招 End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- TODO angular:导航 -->
        <div tm-elemtary-repeat tm-item-name="menu_repeat" tm-item-view="menu_repeat"></div>
        <!-- angular:导航 End -->
    </div>
</section>

