<section id="js-hot-sale">
    <div class="hot_place gzl_block">
        <div class="title"
             style="background-image:url(//gdp.alicdn.com/imgextra/i1/2067413496/TB2o1uDbpXXXXanXpXXXXXXXXXX_!!2067413496.jpg);">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        <div class="content">
            <div class="col">
                <!-- TODO angular: 广告左-->
                <a tm-elemtary-repeat tm-item-name="big_ads_left"
                   tm-item-view="hot_sale_repeat"
                   ng-href="{{item.model.url}}"
                   class="item" style="width:313px;height:446px;"
                   target="_blank" data-spm-wangpu-module-id="5003-9882021204"
                   data-spm-anchor-id="a1z10.1-b.w5003-9882021204.3">
                </a>
                <!-- angular: 广告左 End -->
            </div>
            <div class="mid">
                <!-- TODO angular: 广告上-->
                <a tm-elemtary-repeat tm-item-name="big_ads_top"
                   tm-item-view="hot_sale_repeat"
                   ng-href="{{item.model.url}}"
                   class="item" style="width:326px;height:220px;"
                   target="_blank" data-spm-wangpu-module-id="5003-9882021204"
                   data-spm-anchor-id="a1z10.1-b.w5003-9882021204.3">
                </a>
                <!-- angular: 广告上 End-->

                <!-- TODO angular: 广告下-->
                <a tm-elemtary-repeat tm-item-name="big_ads_bottom"
                   tm-item-view="hot_sale_repeat"
                   ng-href="{{item.model.url}}"
                   class="item" style="width:326px;height:220px;margin-top:6px;"
                   target="_blank" data-spm-wangpu-module-id="5003-9882021204"
                   data-spm-anchor-id="a1z10.1-b.w5003-9882021204.3">
                </a>
                <!-- angular: 广告下 End-->
            </div>
            <div class="col">
                <!-- TODO angular: 广告右-->
                <a tm-elemtary-repeat tm-item-name="big_ads_right"
                   tm-item-view="hot_sale_repeat"
                   ng-href="{{item.model[0].url}}"
                   class="item" style="width:313px;height:446px;"
                   target="_blank" data-spm-wangpu-module-id="5003-9882021204"
                   data-spm-anchor-id="a1z10.1-b.w5003-9882021204.3">
                </a>
                <!-- angular: 广告右 End -->
            </div>
        </div>
    </div>
</section>