<div class="model">
    <div class="title">设置标题:<input type="text" ng-model="item.config.title"/>:<a class="funcLink" href="javascript:void(0);" ng-click="addItem()">添加一项</a></div>
    <ul tm-draggable>
        <li ng-class-even="'even'" ng-repeat="item in model">
            <input class="keyWords" type="text" ng-model="item.text"/>
            <input class="url" type="text" ng-model="item.url"/>
            <a href="javascript:void(0);" class="ui-button-icon-primary ui-icon ui-icon-closethick close" ng-click="delete($index)"></a>
        </li>

    </ul>
</div>