<section style="height:430px;">
    <div class="hot_week gzl_block">
        <div class="title"
             style="background-image:url(//gdp.alicdn.com/imgextra/i1/2067413496/TB2Mhi8bpXXXXXcXXXXXXXXXXXX_!!2067413496.jpg);">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="datushow" style="width:990px;display:table;">
            <a target="_blank" style="float:left;display:block;"
               href="//items.alitrip.com/item.htm?spm=a1z10.3-b.w4011-6798710441.78.orFNye&amp;id=521231186423&amp;rn=068677fe4b074f261bb66f8c1218c49d&amp;abbucket=0&amp;scene=taobao_shop">
                <img src="//gdp.alicdn.com/imgextra/i2/2067413496/TB2jokDeFXXXXazXpXXXXXXXXXX_!!2067413496.jpg"/> </a> <a
                target="_blank" style="float:left;display:block;"
                href="//items.alitrip.com/item.htm?id=521866989884&amp;scene=taobao_shop"> <img
                src="//gdp.alicdn.com/imgextra/i1/2067413496/TB24cDzfXXXXXXAXXXXXXXXXXXX_!!2067413496.jpg"/> </a> <a
                target="_blank" style="float:left;display:block;"
                href="//items.alitrip.com/item.htm?spm=0.0.0.0.GW7PW2&amp;id=521228200800&amp;scene=taobao_shop"> </a><a
                href="//items.alitrip.com/item.htm?spm=0.0.0.0.0u1rFk&amp;id=45709055292&amp;scene=taobao_shop"
                target="_blank"><img
                src="//gdp.alicdn.com/imgextra/i1/2067413496/TB2U0o2eFXXXXXhXXXXXXXXXXXX_!!2067413496.jpg"/></a><a
                target="_blank" style="float:left;display:block;"
                href="//items.alitrip.com/item.htm?spm=0.0.0.0.GW7PW2&amp;id=521228200800&amp;scene=taobao_shop"> </a> <a
                target="_blank" style="float:left;display:block;"
                href="//items.alitrip.com/item.htm?spm=a1z10.3-b.w4011-6798710441.100.lshMXT&amp;id=44364193576&amp;rn=d8b2cc8066cd30afd3bcd7b949207838&amp;abbucket=0&amp;scene=taobao_shop">
            <img src="//gdp.alicdn.com/imgextra/i2/2067413496/TB2bHZSeFXXXXaQXXXXXXXXXXXX_!!2067413496.jpg"/> </a>
        </div>
    </div>
</section>
